.venv/
.env
working_frontend/.env.local
__pycache__
.idea/
api/data/tl_2020_us_zcta520.shp
api/data/tl_2020_us_zcta520.cpg
api/data/tl_2020_us_zcta520.dbf
api/data/tl_2020_us_zcta520.prj
api/data/tl_2020_us_zcta520.shx
ideas.txt
marketing.txt
.next/
node_modules/